/* team and feature related styles */

.teams {
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features {
    margin-left: 130px;
    max-width: 530px;
}

.feature-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.feature-description {
    
}

#quick-list {
    font-weight: 500;

}

/* responsive media query */
@media screen and (max-width: 576px) {
    .teams {
        flex-direction: column;
    }
    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
      }
    .our-features {
        margin-left: 20px;
    }
}