.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .sponsor-companies {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 50px;
    }

}